
.toggle {
  font-size: 18px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}

.grid {
  margin: 20px;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid > div {
  display: flex; 
  flex-basis: calc(25% - 40px);  
  justify-content: center;
  flex-direction: column;
}
.grid > div > img {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
